<html>
<head>
	<title><%= tag.name %></title>
</head>
<body>
	<h1><%= tag.name %></h1>

	<p>Posts tagged "<%= tag.name %>":</p>

	 <ol>
		<% posts.each do |post| %>
			<li>
		  	<a href="/posts/<%=author.post.id %>">
      	<%= tag.post.name %>
			</li>
		<% end %>
  </ol>

</body>
</html>