<html>
<head>
	<title>Edit <%= post.name %></title>
</head>
<body>
	<form action="/posts/<%= post.id %>" method="POST">
		<input type="hidden" name="_method" value="PUT">
		<input type="text" name="title" placeholder="Title" value="<%= post.content %>">
		<input type="text" name="image" placholder="Image" value="post.image %>">
		<select name="author_id">
			<% authors.each do |author| %>
			<option value="<%= author.id %>" <%= "selected" if post.author.id == post.id%> ><%= author.name %></option>
			<% end %>
		</select>
		<button>Submit</button>
	</form>

	<form action="/posts/<%= post.id %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button>Delete Character</button>
	</form>
</body>
</html>