<html>
<head>
	<title>Edit <%= post.title %></title>
</head>
<body>
	<h1>Edit "<%= post.title %>"</h1>
	<form action="/posts/<%= post.id %>" method="POST">
		<input type="hidden" name="_method" value="PUT">
		<p>Title: <input type="text" name="title" value="<%= post.title %>"></p>
		<p>Body:<br>
		<textarea name="content" cols="50" rows="3" value="<%= post.content %>"><%= post.content %></textarea>
			</p>
		<p>Image URL: <input type="text" name="image_url" size="55" value="<%= post.image_url %>"></p>
		<p>Tag: 
		<select name="tag_id">
			<option selected="selected">Select a tag</option>
			<% tags.each do |tag| %>
			<option value="<%= tag["id"] %>"><%= tag["tag"] %></option>
			<% end %>
			</select>
		</p>
		<p>Author: <select name="author_id">
			<option selected="selected">Select an author</option>
			<% authors.each do |author| %>
			<option value="<%= author["id"] %>"><%= author["name"] %></option>
			<% end %>
		</select></p>
		<button>Submit</button>
	</form>

	<form action="/posts/<%= post.id %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button>Delete</button>
	</form>
</body>
</html>