<html>
<head>
	<link rel ="stylesheet" type=text/css href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Chicle|Dosis' rel='stylesheet' type='text/css'>
	<title>Sloth Central: <%= post.title %></title>
</head>
<body>
		<div id="header">
	<h1>Sloth Central</h1>
	<h3>All sloths, all the time...</h3>
	</div>

<!-- Begin Navigation -->
<div id="navigation">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/feed">News Feed</a></li>
		<li><a href="/authors/new">Add an Author</a></li>
		<li><a href="/posts/new">Create New Post</a></li>
		<li><a href="/authors">All Authors</a></li>
		<li><a href="/posts">All Posts</a></li>
		<li><a href="/tags">All Tags</a></li>

	</ul>
</div>	

<!-- End Navigation -->
<!-- Begin Well -->
<div class="well">
<h2><%= post.title %></h2>
<p><%= post.content %></p>
<p><img src="<%= post.image_url %>"></p>
<p><em>Created: <%= post["created_at"] %></em> | <em>Authored by: <a href="/authors/<%= post["author_id"]%>/posts">
		 <%= author["name"] %></a></em></p>
<p>Tagged: <a href="/tags/<%= post["tag_id"] %>/posts"><%= tag["tag"] %></a> </p>
		 			<form action="/posts/<%= post.id %>/edit" method="GET">
				<input type="hidden">
				<button>Edit Post</button>
			</form>

			<form action="/posts/<%= post.id %>" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button>Delete Post</button>
			</form>
<!-- 
	<h3>Add Tags</h3>
	<form action="/tags/" method="POST">
	<input type="text" name="tag" placeholder="Add a Tag" />
	<button>Submit</button>
	</form>
 -->
</div>
<div id="footer">
	<p>&copy; Copyright 2014</p>
	</div>
</body>
</html>