<html>
<head>
	<title>Sloth Central: <%= post.title %></title>
</head>
<body>
<h1><%= post.title %></h1>
<p><%= post.content %></p>

<p><em>Created: <%= post.created_at %></em> | 
	<em>Authored by: <a href="/authors/<%= post["author_id"]%>/posts">
		 <%= author["name"] %></a></em></p>

</body>
</html>